//*mixins*//
@import "./mixin.scss";

.about__block {
   margin-top: 4rem;
   &--row {
      display: flex;
      justify-content: space-between;
      @include tablet{
         flex-wrap: wrap;
      }
      @include mobile-sm{
         justify-content: center;
      }
   }
}
.about__content {
   width: 23%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   &--picture {
      width: 25%;
   }
   &--text {
      width: 70%;
      text-align: left;
      h3 {
         color: $black;
         font-family: $font;
         font-weight: 500;
         font-size: 1.7rem;
         margin-bottom: 1rem;
      }
      p {
         color: $black;
         font-family: $font;
         font-weight: 300;
         font-size: 1.4rem;
      }
   }
   @include tablet{
      width: 40%;
      margin-bottom: 2rem;
      &:last-child{
         margin-bottom: 0;
      }
   }
   @include mobile{
      width: 50%;
   }
   @include mobile-sm{
      width: 70%;
   }
   @include mobile-xsm{
      width: 90%;
   }
   @include mobile-xxsm{
      width: 100%;
   }
}
