//*mixins*//
@import "./mixin.scss";

.about__me {
   background-color: $silver;
   padding-top: 4rem;
   padding-bottom: 4rem;
   @include tablet{
      padding-top: 2rem;
      padding-bottom: 2rem;
   }
}
.me__title {
   h3 {
      font-weight: 700;
      font-size: 2.5rem;
      color: $black;
      font-family: $font;
      @include tablet{
         font-size: 2rem;
      }
      @include mobile{
         font-size: 1.8rem;
      }
   }
}
.me__text {
   margin-top: 1rem;
   p {
      font-family: $font;
      color: $black;
      font-size: 1.7rem;
      font-weight: 500;
      span{
         font-weight: 700;
      }
      @include mobile{
         font-size: 1.5rem;
      }
   }
}
.me__list {
   margin: 0;
   padding: 0;
   margin-top: 4rem;
   list-style-type: disc;
   p {
      margin-bottom: 1rem;
      font-family: $font;
      color: $black;
      font-weight: 700;
      font-size: 2.5rem;
      &:last-child {
         margin-bottom: 0;
      }
      @include tablet{
         font-size: 2rem;
      }
      @include mobile{
         font-size: 1.8rem;
      }
   }
   li {
      margin-bottom: 2rem;
      &:last-child {
         margin-bottom: 0;
      }
      p {
         font-weight: 500;
         font-size: 1.7rem;
         span {
            font-weight: 700;
         }
         @include mobile{
            font-size: 1.5rem;
         }
      }
      @include tablet{
         margin-bottom: 1rem;
      }
   }
   @include tablet{
      margin-top: 2rem;
   }
}
