//*mixins*//
@import "./mixin.scss";

.promotion{
   background-color: $silver;
   padding: 4rem 0;
   &__row{
      &--title{
         margin-bottom: 2rem;
         h2{
            font-family: $font;
            color: $black;
            font-weight: 700;
            font-size: 2.5rem;
         }
      }
   }
}