//*mixins*//
@import "./mixin.scss";

.basket {
   padding: 4rem 0;
   &__row {
      &--title {
         margin-bottom: 2rem;
         h3 {
            font-family: $font;
            font-weight: 700;
            font-size: 2.7rem;
            color: $black;
         }
      }
   }
}
.tovar__block {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2rem;
   &--delete {
      width: 2%;
      button {
         background-color: transparent;
         border: none;
         i {
            font-size: 2rem;
            color: $silver-b;
            transition: color 0.2s linear;
         }
         &:hover {
            i {
               color: $black;
            }
         }
      }
   }
   &--content {
      width: 96%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $silver-b;
      padding: 1rem;
   }
   &:last-child {
      margin-bottom: 0;
   }
}
.tovar__img {
   width: 15%;
}
.tovar__opys {
   width: 50%;
   h3 {
      font-family: $font;
      font-weight: 500;
      color: $black;
      font-size: 1.7rem;
      margin-bottom: 1rem;
   }
   span {
      font-family: $font;
      font-weight: 700;
      color: $black;
      font-size: 1.7rem;
   }
}
.tovar__count {
   width: 15%;
   height: 5rem;
   border: 1px solid $silver-b;
   display: flex;
   button {
      width: 25%;
      border: none;
      background-color: transparent;
      i {
         color: $black;
         font-size: 1.7rem;
         transition: color 0.2s linear;
      }
      &:hover {
         i {
            color: $main;
         }
      }
      &:active {
         background-color: $silver-b;
      }
   }
   input {
      display: block;
      width: 50%;
      text-align: center;
      border-left: 1px solid $silver-b;
      border-right: 1px solid $silver-b;
      font-family: $font;
      font-weight: 700;
      font-size: 1.7rem;
      color: $black;
   }
}
.tovar__summ {
   width: 10%;
   text-align: center;
   span {
      font-family: $font;
      font-weight: 700;
      color: $black;
      font-size: 1.7rem;
   }
}
