//*mixins*//
@import "./mixin.scss";

.basket {
   padding: 4rem 0;
   &__row {
      &--title {
         margin-bottom: 2rem;
         h3 {
            font-family: $font;
            font-weight: 700;
            font-size: 2.7rem;
            color: $black;
            @include tablet {
               font-size: 2rem;
            }
            @include tablet {
               font-size: 1.8rem;
            }
         }
         @include tablet {
            margin-bottom: 1rem;
         }
      }
      &--footer {
         text-align: right;
         margin-top: 2rem;
         @include tablet {
            margin-top: 1rem;
         }
      }
   }
   @include tablet {
      padding: 2rem 0;
   }
}
.tovar__block {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2rem;
   &--delete {
      width: 2%;
      button {
         background-color: transparent;
         border: none;
         i {
            font-size: 2rem;
            color: $silver-b;
            transition: color 0.2s linear;
            @include tablet {
               font-size: 1.8rem;
            }
            @include mobile {
               font-size: 1.4rem;
            }
         }
         &:hover {
            i {
               color: $black;
            }
         }
      }
      @include tablet {
         width: 4%;
      }
   }
   &--content {
      width: 96%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $silver-b;
      padding: 1rem;
      @include mobile-sm {
         width: 92%;
         flex-wrap: wrap;
         justify-content: space-evenly;
      }
   }
   &:last-child {
      margin-bottom: 0;
   }
   @include tablet {
      margin-bottom: 1rem;
   }
}
.tovar__img {
   width: 15%;
   @include mobile-sm {
      margin-bottom: 1rem;
      width: 20%;
   }
   @include mobile-xsm {
      width: 35%;
   }
}
.tovar__opys {
   width: 50%;
   h3 {
      font-family: $font;
      font-weight: 500;
      color: $black;
      font-size: 1.7rem;
      margin-bottom: 1rem;
      @include tablet {
         font-size: 1.5rem;
      }
      @include mobile-sm {
         font-size: 1.3rem;
         margin-bottom: 0.1rem;
      }
   }
   span {
      font-family: $font;
      font-weight: 700;
      color: $black;
      font-size: 1.7rem;
      @include tablet {
         font-weight: 500;
         font-size: 1.5rem;
      }
      @include mobile-sm {
         font-size: 1.3rem;
      }
   }
   @include mobile-sm {
      width: 70%;
   }
   @include mobile-xsm {
      width: 90%;
   }
}
.tovar__count {
   width: 15%;
   height: 5rem;
   border: 1px solid $silver-b;
   display: flex;
   button {
      width: 25%;
      border: none;
      background-color: transparent;
      i {
         color: $black;
         font-size: 1.7rem;
         transition: color 0.2s linear;
         @include tablet {
            font-size: 1.2rem;
         }
      }
      &:hover {
         i {
            color: $main;
         }
      }
      &:active {
         background-color: $silver-b;
      }
   }
   input {
      display: block;
      width: 50%;
      text-align: center;
      border-left: 1px solid $silver-b;
      border-right: 1px solid $silver-b;
      font-family: $font;
      font-weight: 700;
      font-size: 1.7rem;
      color: $black;
      @include tablet {
         font-weight: 500;
         font-size: 1.5rem;
      }
   }
   @include mobile {
      width: 18%;
   }
   @include mobile-sm {
      width: 30%;
   }
   @include mobile-xsm {
      margin-top: 1rem;
      width: 50%;
   }
}
.tovar__summ {
   width: 10%;
   text-align: center;
   span {
      font-family: $font;
      font-weight: 700;
      color: $black;
      font-size: 1.7rem;
      @include tablet {
         font-weight: 500;
         font-size: 1.5rem;
      }
   }
   @include mobile-sm {
      width: 25%;
   }
   @include mobile-xsm {
      width: 40%;
   }
}
.basket__footer--summ {
   margin-bottom: 1rem;
   span {
      font-family: $font;
      font-weight: 700;
      color: $black;
      font-size: 1.8rem;
      @include tablet {
         font-weight: 500;
         font-size: 1.5rem;
      }
   }
}
.basket__footer--button {
   a {
      font-family: $font;
      text-decoration: none;
      font-weight: 500;
      color: $white;
      font-size: 1.8rem;
      background-color: $main;
      padding: 1rem 2rem;
      transition: background-color 0.1s linear;
      display: inline-block;
      &:hover {
         background-color: $background;
      }
      &:active {
         transform: scale(0.97);
      }
      @include mobile {
         font-size: 1.5rem;
         padding: 1rem 1rem;
      }
   }
}
