//*mixins*//
@import "./mixin.scss";

.catalog {
   padding: 4rem 0;
   &__row {
      &--title {
         display: flex;
         align-items: center;
         justify-content: space-between;
         @include tablet {
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
         }
      }
      &--content {
         margin-top: 4rem;
         @include tablet {
            margin-top: 2rem;
         }
      }
   }
   @include tablet {
      padding: 2rem 0;
   }
}
.catalog__title {
   h3 {
      font-family: $font;
      color: $black;
      font-weight: 700;
      font-size: 2.5rem;
      @include tablet {
         font-size: 2rem;
      }
      @include mobile {
         font-size: 1.8rem;
      }
   }
   @include tablet {
      margin-bottom: 1rem;
      width: 100%;
   }
}
.catalog__sort {
   display: flex;
   align-items: center;
   h4 {
      font-family: $font;
      color: $black;
      font-weight: 300;
      font-size: 1.7rem;
      @include tablet {
         display: none;
      }
   }
   &--radio {
      margin-left: 1rem;
      display: flex;
      border: 1px solid $silver-b;
      input {
         display: none;
         &:checked + label {
            background-color: $main;
            color: $white;
         }
      }
      label {
         padding: 0.5rem 1.5rem;
         display: block;
         font-family: $font;
         color: $black;
         font-weight: 300;
         font-size: 1.7rem;
         background-color: $silver;
         &:hover {
            cursor: pointer;
         }
         &:nth-child(4) {
            border-left: 1px solid $silver-b;
            border-right: 1px solid $silver-b;
         }
         @include mobile {
            font-size: 1.5rem;
            padding: 0.4rem 0.6rem;
         }
         @include mobile-sm {
            font-size: 1.4rem;
            padding: 0.4rem 0.5rem;
         }
         @include mobile-xsm {
            font-size: 1.3rem;
            padding: 0.3rem 0.4rem;
         }
         @include mobile-xxsm {
            font-size: 1.2rem;
            padding: 0.2rem 0.3rem;
         }
      }
      @include tablet {
         margin-left: 0;
      }
   }
}
.catalog__tovariv {
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   .product__card {
      width: 22%;
      margin-bottom: 4rem;
      &:last-child {
         margin-bottom: 0;
      }
      @include tablet {
         width: 33%;
         margin-bottom: 2rem;
      }
      @include mobile {
         width: 46%;
         margin-bottom: 1.5rem;
      }
      @include mobile-sm {
         width: 65%;
      }
      @include mobile-xsm {
         width: 90%;
      }
      @include mobile-xxsm {
         width: 100%;
      }
   }
   @include tablet {
      justify-content: center;
   }
}
.pagination {
   margin-top: 4rem;
   text-align: center;
   .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      .page-numbers {
         display: block;
         font-family: $font;
         text-decoration: none;
         color: $black;
         font-size: 1.5rem;
         font-weight: 500;
         border: 1px solid $silver-b;
         width: 3rem;
         height: 3rem;
         background-color: $silver;
         line-height: 2.8rem;
         margin-left: 0.5rem;
         transition: background-color 0.2s linear;
         &:first-child {
            margin-left: 0;
         }
         &:hover {
            cursor: pointer;
         }
      }
      .current {
         background-color: $main;
      }
      .next {
         width: 6rem;
      }
   }
   @include tablet {
      margin-top: 2rem;
   }
   @include mobile {
      margin-top: 1.5rem;
   }
}
