//*mixins*//
@import "./mixin.scss";

.footer {
   padding-top: 2rem;
   padding-bottom: 2rem;
   background-color: $background;
   @include tablet{
      padding-top: 1rem;
      padding-bottom: 1rem;
   }
}
.footer__row {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   @include tablet{
      flex-wrap: wrap;
      justify-content: center;
   }
}
.footer__brand {
   width: 20%;
   &--logo {
      margin-bottom: 1rem;
      p {
         font-family: $font;
         font-weight: 500;
         font-size: 2rem;
         color: $white;
         &:last-child {
            margin-left: 1rem;
         }
      }
   }
   &--copy {
      font-weight: 300;
      font-size: 1.6rem;
      color: $white;
      font-family: $font;
   }
   @include tablet{
      order: 3;
      width: 35%;
   }
   @include mobile{
      width: 100%;
   }
}
.footer__catalog {
   width: 20%;
   &--title {
      margin-bottom: 1rem;
      h3 {
         font-family: $font;
         color: $white;
         font-weight: 500;
         font-size: 2rem;
      }
   }
   &--menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
         margin-bottom: 0.6rem;
         &:last-child {
            margin-bottom: 0;
         }
         a {
            text-decoration: none;
            color: $white;
            font-family: $font;
            font-weight: 300;
            font-size: 1.5rem;
            transition: color 0.2s linear;
            &:hover {
               color: $black;
            }
         }
      }
   }
   @include tablet{
      order: 0;
      width: 35%;
      margin-bottom: 2rem;
   }
   @include mobile{
      display: none;
   }
}
.footer__menu {
   width: 20%;
   &--title {
      margin-bottom: 1rem;
      h3 {
         font-family: $font;
         color: $white;
         font-weight: 500;
         font-size: 2rem;
      }
   }
   &--menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
         margin-bottom: 0.6rem;
         &:last-child {
            margin-bottom: 0;
         }
         a {
            text-decoration: none;
            color: $white;
            font-family: $font;
            font-weight: 300;
            font-size: 1.5rem;
            transition: color 0.2s linear;
            &:hover {
               color: $black;
            }
         }
      }
   }
   @include tablet{
      order: 1;
      width: 35%;
   }
   @include mobile{
      display: none;
   }
}
.footer__contact {
   width: 20%;
   &--title {
      margin-bottom: 1rem;
      h3 {
         font-family: $font;
         color: $white;
         font-weight: 500;
         font-size: 2rem;
      }
   }
   @include notebook{
      width: 30%;
   }
   @include tablet{
      order: 2;
      width: 35%;
   }
   @include mobile{
      width: 100%;
      margin-bottom: 2rem;
   }
}
.adres__phone {
   display: flex;
   align-items: center;
   margin-bottom: 0.8rem;
   i {
      color: $white;
      font-size: 2rem;
      margin-right: 0.6rem;
      transition: color 0.2s linear;
   }
   a {
      text-decoration: none;
      font-family: $font;
      font-weight: 300;
      color: $white;
      font-size: 1.5rem;
      transition: color 0.2s linear;
   }
   &:hover {
      i {
         color: $black;
      }
      a {
         color: $black;
      }
   }
}
.adres__telegram {
   display: flex;
   align-items: center;
   margin-bottom: 0.8rem;
   i {
      color: $white;
      font-size: 2rem;
      margin-right: 0.6rem;
      transition: color 0.2s linear;
   }
   a {
      text-decoration: none;
      font-family: $font;
      font-weight: 300;
      color: $white;
      font-size: 1.5rem;
      transition: color 0.2s linear;
   }
   &:hover {
      i {
         color: $black;
      }
      a {
         color: $black;
      }
   }
}
.adres__mail {
   display: flex;
   align-items: center;
   margin-bottom: 0.8rem;
   i {
      color: $white;
      font-size: 2rem;
      margin-right: 0.6rem;
      transition: color 0.2s linear;
   }
   a {
      text-decoration: none;
      font-family: $font;
      font-weight: 300;
      color: $white;
      font-size: 1.5rem;
      transition: color 0.2s linear;
   }
   &:hover {
      i {
         color: $black;
      }
      a {
         color: $black;
      }
   }
}
.adres__map {
   display: flex;
   align-items: center;
   margin-bottom: 0.8rem;
   i {
      color: $white;
      font-size: 2rem;
      margin-right: 0.6rem;
   }
   span {
      text-decoration: none;
      font-family: $font;
      font-weight: 300;
      color: $white;
      font-size: 1.5rem;
   }
}
.adres__social {
   p {
      margin-bottom: 0.8rem;
      font-family: $font;
      color: $white;
      font-weight: 500;
      font-size: 1.5rem;
   }
   a {
      text-decoration: none;
      margin-right: 0.8rem;
      &:last-child{
         margin-right: 0;
      }
      i {
         color: $white;
         font-size: 2rem;
         transition: color 0.2s linear;
      }
      &:hover {
         i {
            color: $black;
         }
      }
   }
}
