/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
* {
    border: 0;
}

html {
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 300;
}

p {
    margin: 0;
}

img {
    vertical-align: top;
}

input {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    font-family: inherit;
}

:focus {
    outline: none;
}

:active {
    outline: none;
}

a:focus {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*header*/
.header {
    width: 100%;
}

.header__baner {
    width: 100%;
    background-color: #2e9891;
    padding: 0.4rem 0;
}

.header__baner--row {
    text-align: center;
}

.header__baner--row h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.7rem;
    font-family: "Raleway", sans-serif;
}

.header__menu {
    width: 100%;
    background-color: #f7f7f7;
    padding: 0.4rem 0;
}

.header__menu--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__menu--item {
    margin-right: 1rem;
}

.nav__menu--item:last-child {
    margin-right: 0;
}

.nav__menu--item .active {
    color: #2e9891;
}

.nav__menu--link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.5rem;
    transition: color 0.1s linear;
}

.nav__menu--link:hover {
    cursor: pointer;
    color: #2e9891;
}

.nav__login {
    display: flex;
    align-items: center;
}

.nav__login--popup {
    display: block;
    text-decoration: none;
}

.nav__login--popup i {
    font-size: 1.5rem;
    color: #000000;
    transition: color 0.1s linear;
}

.nav__login--popup span {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #000000;
    transition: color 0.1s linear;
}

.nav__login--popup:hover {
    cursor: pointer;
}

.nav__login--popup:hover i {
    color: #2e9891;
}

.nav__login--popup:hover span {
    color: #2e9891;
}

.header__brand {
    width: 100%;
    padding: 0.4rem 0;
    background-color: #ffffff;
}

.header__brand--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__brand {
    width: 15%;
}

.navbar__content {
    display: flex;
    align-items: center;
}

.navbar__content--phone {
    margin-right: 3rem;
}

.navbar__content--phone i {
    font-size: 1.7rem;
    color: #2e9891;
    margin-right: 0.5rem;
}

.navbar__content--phone a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.7rem;
    transition: color 0.1s linear;
}

.navbar__content--phone a:hover {
    cursor: pointer;
    color: #2e9891;
}

.navbar__content--time {
    margin-right: 3rem;
}

.navbar__content--time P {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.7rem;
}

.navbar__content--time P i {
    font-size: 1.7rem;
    color: #2e9891;
    margin-right: 0.5rem;
}

.navbar__content--time P span {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.7rem;
}

.navbar__content--basket {
    text-decoration: none;
    display: block;
}

.navbar__content--basket i {
    font-size: 1.7rem;
    color: #2e9891;
    margin-bottom: 0.5rem;
    transition: color 0.1s linear;
}

.navbar__content--basket p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 1.7rem;
}

.navbar__content--basket:hover {
    cursor: pointer;
}

.navbar__content--basket:hover i {
    color: #000000;
}

.header__product {
    width: 100%;
    background-color: #2e9891;
}

.product__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.product__menu--item {
    width: 12.5%;
    height: 4rem;
    transition: background-color 0.2s linear;
}

.product__menu--item:hover {
    background-color: #14aba0;
}

.product__menu--link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
}

/*burger button*/
.burger__btn {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    position: relative;
}

.burger__btn span {
    display: block;
    background-color: #000000;
    width: 1.6rem;
    height: 0.2rem;
    position: absolute;
    left: 0.1rem;
    top: 0.8rem;
    transition: background-color 0.2s linear, width 0.2s linear, transform 0.2s linear;
}

.burger__btn span:first-child {
    top: 0.4rem;
}

.burger__btn span:last-child {
    top: 1.2rem;
}

.burger__btn:hover {
    cursor: pointer;
}

.burger__btn:hover span {
    background-color: #2e9891;
}

.burger__btn--active span:first-child {
    width: 0;
}

.burger__btn--active span:nth-child(2) {
    transform: rotate(45deg);
}

.burger__btn--active span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger__btn--active span:last-child {
    width: 0;
}

/*intro slider*/
.intro {
    width: 100%;
}

.intro__row {
    position: relative;
}

.intro__slider--prev {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s linear;
}

.intro__slider--prev i {
    font-size: 4.5rem;
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.2s linear;
}

.intro__slider--prev:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.intro__slider--prev:hover i {
    color: rgba(255, 255, 255, 0.6);
}

.intro__slider--next {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    height: 100%;
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s linear;
}

.intro__slider--next i {
    font-size: 4.5rem;
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.2s linear;
}

.intro__slider--next:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.intro__slider--next:hover i {
    color: rgba(255, 255, 255, 0.6);
}

.intro__slider--dots {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
    bottom: 8%;
    left: calc(50% - 38px);
    list-style-type: none;
    display: flex;
    align-items: center;
}

.intro__slider--dots li {
    margin-right: 1rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__slider--dots li:last-child {
    margin-right: 0;
}

.intro__slider--dots li button {
    font-size: 0;
    color: transparent;
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    background-color: #ffffff;
    border-radius: 50%;
}

.intro__slider--dots .slick-active button {
    background-color: #2e9891;
}

.intro__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    text-decoration: none;
}

/*about block*/
.about__block {
    margin-top: 4rem;
}

.about__block--row {
    display: flex;
    justify-content: space-between;
}

.about__content {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content--picture {
    width: 25%;
}

.about__content--text {
    width: 70%;
    text-align: left;
}

.about__content--text h3 {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.about__content--text p {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

/*main product slider*/
.main__slider {
    margin-top: 4rem;
}

.main__slider--title {
    text-align: center;
    margin-bottom: 4rem;
}

.main__slider--title h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #14aba0;
}

.main__slider--row {
    width: 100%;
}

.product__slider--prev {
    position: absolute;
    left: -1rem;
    top: calc(50% - 2rem);
    z-index: 5;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 1px solid;
    border-color: #2e9891;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s linear;
}

.product__slider--prev span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(-45deg);
    margin-left: 0.5rem;
}

.product__slider--prev:hover {
    border-color: #000000;
}

.product__slider--next {
    position: absolute;
    right: -1rem;
    top: calc(50% - 2rem);
    z-index: 5;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 1px solid;
    border-color: #2e9891;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s linear;
}

.product__slider--next span {
    display: block;
    width: 1rem;
    height: 1rem;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotate(45deg);
    margin-right: 0.5rem;
}

.product__slider--next:hover {
    border-color: #000000;
}

.product__card {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1rem;
    margin: 0 1rem;
}

.product__card--img {
    margin-bottom: 1rem;
}

.product__card--title {
    margin-bottom: 1rem;
}

.product__card--title P {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 1.4rem;
}

.product__card--price {
    margin-bottom: 1rem;
}

.product__card--price span {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 1.5rem;
}

.product__card--btn button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.8rem;
    background-color: #14aba0;
    padding: 1rem 2rem;
    transition: background-color 0.1s linear;
}

.product__card--btn button:hover {
    background-color: #2e9891;
}

.product__card--btn button:active {
    transform: scale(0.98);
}

.product__card:hover {
    border: 1px solid #14aba0;
    box-shadow: 3px -3px 15px #14aba0;
}

/*about us*/
.about__us {
    margin-top: 4rem;
    background-color: #f7f7f7;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about__title {
    text-align: center;
    border-bottom: 1px solid #000000;
    width: 80%;
    padding-bottom: 1rem;
    margin: 0 auto 2rem auto;
}

.about__title h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #000000;
}

.block__text {
    width: 80%;
    margin: 0 auto 2rem auto;
}

.block__text--title {
    text-align: center;
    margin-bottom: 1rem;
}

.block__text--title h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #000000;
}

.block__text--title h4 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #14aba0;
    text-transform: uppercase;
}

.block__text--text p {
    margin-bottom: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 1.7rem;
}

.block__text--text p:last-child {
    margin-bottom: 0;
}

.block__text:last-child {
    margin: 0 auto 0 auto;
}

.block__text:nth-child(2) {
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
}

/*footer*/
.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #2e9891;
}

.footer__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__brand {
    width: 20%;
}

.footer__brand--logo {
    margin-bottom: 1rem;
}

.footer__brand--logo p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #ffffff;
}

.footer__brand--logo p:last-child {
    margin-left: 1rem;
}

.footer__brand--copy {
    font-weight: 300;
    font-size: 1.6rem;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
}

.footer__catalog {
    width: 20%;
}

.footer__catalog--title {
    margin-bottom: 1rem;
}

.footer__catalog--title h3 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
}

.footer__catalog--menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__catalog--menu li {
    margin-bottom: 0.6rem;
}

.footer__catalog--menu li:last-child {
    margin-bottom: 0;
}

.footer__catalog--menu li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    transition: color 0.2s linear;
}

.footer__catalog--menu li a:hover {
    color: #000000;
}

.footer__menu {
    width: 20%;
}

.footer__menu--title {
    margin-bottom: 1rem;
}

.footer__menu--title h3 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
}

.footer__menu--menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__menu--menu li {
    margin-bottom: 0.6rem;
}

.footer__menu--menu li:last-child {
    margin-bottom: 0;
}

.footer__menu--menu li a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    transition: color 0.2s linear;
}

.footer__menu--menu li a:hover {
    color: #000000;
}

.footer__contact {
    width: 20%;
}

.footer__contact--title {
    margin-bottom: 1rem;
}

.footer__contact--title h3 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 2rem;
}

.adres__phone {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.adres__phone i {
    color: #ffffff;
    font-size: 2rem;
    margin-right: 0.6rem;
    transition: color 0.2s linear;
}

.adres__phone a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.2s linear;
}

.adres__phone:hover i {
    color: #000000;
}

.adres__phone:hover a {
    color: #000000;
}

.adres__telegram {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.adres__telegram i {
    color: #ffffff;
    font-size: 2rem;
    margin-right: 0.6rem;
    transition: color 0.2s linear;
}

.adres__telegram a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.2s linear;
}

.adres__telegram:hover i {
    color: #000000;
}

.adres__telegram:hover a {
    color: #000000;
}

.adres__mail {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.adres__mail i {
    color: #ffffff;
    font-size: 2rem;
    margin-right: 0.6rem;
    transition: color 0.2s linear;
}

.adres__mail a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.2s linear;
}

.adres__mail:hover i {
    color: #000000;
}

.adres__mail:hover a {
    color: #000000;
}

.adres__map {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.adres__map i {
    color: #ffffff;
    font-size: 2rem;
    margin-right: 0.6rem;
}

.adres__map span {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.5rem;
}

.adres__social p {
    margin-bottom: 0.8rem;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5rem;
}

.adres__social a {
    text-decoration: none;
    margin-right: 0.8rem;
}

.adres__social a:last-child {
    margin-right: 0;
}

.adres__social a i {
    color: #ffffff;
    font-size: 2rem;
    transition: color 0.2s linear;
}

.adres__social a:hover i {
    color: #000000;
}

/*back top btn*/
.back__top {
    position: fixed;
    right: 2%;
    bottom: -3.6rem;
    z-index: 10;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #f7f7f7;
    border: 1px solid;
    border-color: #14aba0;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.2s linear, border-color 0.2s linear;
}

.back__top--content {
    position: relative;
}

.back__top--content span {
    position: absolute;
    top: calc(50% - 1rem);
    left: -7rem;
    padding: 0.3rem 0.6rem;
    background-color: #000000;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.back__top--content span::after {
    position: absolute;
    right: -10%;
    top: calc(50% - 4px);
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid #000000;
}

.back__top--content i {
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.back__top:hover {
    cursor: pointer;
    border-color: #000000;
}

.back__top:hover .back__top--content span {
    visibility: visible;
    opacity: 1;
}

.back__top--active {
    bottom: 0;
}

/*about page*/
.about__me {
    background-color: #f7f7f7;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.me__title h3 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #000000;
    font-family: "Raleway", sans-serif;
}

.me__text {
    margin-top: 1rem;
}

.me__text p {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 1.7rem;
    font-weight: 500;
}

.me__text p span {
    font-weight: 700;
}

.me__list {
    margin: 0;
    padding: 0;
    margin-top: 4rem;
    list-style-type: disc;
}

.me__list p {
    margin-bottom: 1rem;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 2.5rem;
}

.me__list p:last-child {
    margin-bottom: 0;
}

.me__list li {
    margin-bottom: 2rem;
}

.me__list li:last-child {
    margin-bottom: 0;
}

.me__list li p {
    font-weight: 500;
    font-size: 1.7rem;
}

.me__list li p span {
    font-weight: 700;
}

/*dostavka page*/
.dostavka {
    background-color: #f7f7f7;
    padding: 4rem 0;
}

.dostavka__title {
    margin-bottom: 1rem;
}

.dostavka__title h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
}

.dostavka__suptitle {
    margin-bottom: 1rem;
}

.dostavka__suptitle h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 1.7rem;
}

.dostavka__block {
    margin-bottom: 1rem;
}

.dostavka__block--title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.dostavka__block--title picture {
    width: 2%;
    margin-right: 0.6rem;
}

.dostavka__block--title span {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 1.7rem;
}

.dostavka__block--text p {
    color: #000000;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.dostavka__block--text p span {
    font-weight: 700;
}

.dostavka__block--text p:last-child {
    margin-bottom: 0;
}

.oplata__block {
    border-top: 1px solid #000000;
    padding-top: 1rem;
}

.oplata__block--title {
    margin-bottom: 1rem;
}

.oplata__block--title h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 1.7rem;
}

.oplata__block--text p {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.oplata__block--text p:first-child {
    display: flex;
    align-items: center;
}

.oplata__block--text p img {
    margin-left: 1rem;
}

.oplata__block--text p:last-child {
    margin-bottom: 0;
    font-weight: 700;
}

.oplata__block--text p span {
    font-weight: 700;
}

/*obmin page*/
.obmin {
    background-color: #f7f7f7;
    padding: 4rem 0;
}

.obmin__row--title {
    margin-bottom: 2rem;
}

.obmin__row--title h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
}

.obmin__row--block {
    margin-bottom: 2rem;
}

.obmin__row--block h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.obmin__row--block h3 a {
    color: #2e9891;
    margin-left: 0.5rem;
    text-decoration: underline;
    transition: color 0.2s linear;
}

.obmin__row--block h3 a:hover {
    color: #000000;
}

.obmin__row--block P {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.obmin__row--block P:last-child {
    margin-bottom: 0;
}

.obmin__row--block P span {
    font-weight: 700;
}

.obmin__row--block P a {
    text-decoration: underline;
    color: #2e9891;
    transition: color 0.2s linear;
    font-weight: 700;
    margin: 0 0.5rem;
}

.obmin__row--block P a:hover {
    color: #000000;
    cursor: pointer;
}

/*contact page*/
.contact__title {
    margin-bottom: 6rem;
}

@media (max-width: 991px) {
    .contact__title {
        margin-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    .contact__title {
        margin-bottom: 2rem;
    }
}

.contact__title--title {
    text-align: center;
}

.contact__title h1 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 1px solid #14aba0;
    display: inline;
}

.contact__block {
    margin-bottom: 6rem;
}

@media (max-width: 991px) {
    .contact__block {
        margin-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    .contact__block {
        margin-bottom: 2rem;
    }
}

.contact__block--row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact__address {
    width: 46%;
}

.contact__address--line {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.contact__address--line:last-child {
    margin-bottom: 0;
}

.contact__address--line i {
    color: #14aba0;
    font-size: 2.5rem;
    margin-right: 1rem;
}

.contact__address--line span {
    color: #000000;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
}

.contact__form {
    width: 46%;
}

.contact__form--block {
    width: 100%;
    position: relative;
    margin-bottom: 4.5rem;
}

.contact__form--block i {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.5rem;
    color: #14aba0;
}

.contact__form--block input {
    font-weight: 500;
    font-size: 1.7rem;
    color: #000000;
    font-family: "Raleway", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93%;
    height: 3.5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #d9d9d9;
}

.contact__form--block input:focus {
    outline: none;
    border-bottom-color: #2e9891;
}

@media (max-width: 768px) {
    .contact__form--block input {
        font-size: 1.6rem;
    }
}

.contact__form--block label {
    position: relative;
    top: -1rem;
    left: 9%;
    font-size: 1.7rem;
    font-weight: 500;
    color: #000000;
    font-family: "Raleway", sans-serif;
    transition: font-size 0.1s linear, top 0.1s linear;
}

.contact__form--block textarea {
    font-weight: 500;
    font-size: 1.7rem;
    color: #000000;
    font-family: "Raleway", sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 93%;
    height: 4rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #d9d9d9;
    resize: none;
}

.contact__form--block textarea:focus {
    outline: none;
    border-bottom-color: #2e9891;
}

@media (max-width: 768px) {
    .contact__form--block textarea {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .contact__form--block {
        margin-bottom: 3.5rem;
    }
}

.contact__form--button {
    margin-bottom: 1.5rem;
}

.contact__form--button button {
    border: none;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    color: #000000;
    font-weight: 500;
    margin: 0;
    padding: 1.5rem;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.contact__form--button button i {
    margin-left: 0.5rem;
    color: #000000;
    font-size: 1.7rem;
    transition: color 0.2s linear;
}

.contact__form--button button:hover {
    background-color: #2e9891;
    color: #ffffff;
    cursor: pointer;
}

.contact__form--button button:hover i {
    color: #ffffff;
}

.contact__form--button button:active {
    transform: scale(0.97);
}

@media (max-width: 991px) {
    .contact__form--button {
        margin-bottom: 1rem;
    }
}

.error__text {
    width: 100%;
    height: 2.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    color: #2e9891;
}

#name:focus ~ label[for="name"] {
    font-size: 1.2rem;
    top: -2.7rem;
}

#email:focus ~ label[for="email"] {
    font-size: 1.2rem;
    top: -2.7rem;
}

#phone:focus ~ label[for="phone"] {
    font-size: 1.2rem;
    top: -2.7rem;
}

#message:focus ~ label[for="message"] {
    font-size: 1.2rem;
    top: -3.5rem;
}

.contact__line {
    margin-bottom: 6rem;
}

@media (max-width: 991px) {
    .contact__line {
        margin-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    .contact__line {
        margin-bottom: 2rem;
    }
}

.contact__line--line {
    width: 100%;
    height: 0.1rem;
}

.contact__line--line hr {
    background-color: #14aba0;
    width: 100%;
    height: 100%;
    display: block;
}

/*akcii page*/
.promotion {
    background-color: #f7f7f7;
    padding: 4rem 0;
}

.promotion__row--title {
    margin-bottom: 2rem;
}

.promotion__row--title h2 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 2.5rem;
}

/*modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform-origin: center center;
    transform: scale(0);
    visibility: hidden;
    transition: transform 0.5s linear, opacity 0.5s linear, visibility 0.5s linear;
}

.modal__open {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.modal__mask {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
    position: relative;
    width: 44%;
    background-color: #ffffff;
    padding: 2rem;
}

.modal__content--close {
    text-align: right;
}

.modal__content--close button {
    border: none;
    background-color: transparent;
}

.modal__content--close button i {
    font-size: 2.6rem;
    color: #d9d9d9;
    transition: color 0.2s linear;
}

.modal__content--close button:focus {
    outline: none;
}

.modal__content--close button:hover {
    cursor: pointer;
}

.modal__content--close button:hover i {
    color: #000000;
}

.modal__content--tabs {
    margin-bottom: -1px;
}

.modal__content--body {
    border: 1px solid #d9d9d9;
    padding: 3rem;
}

.switch__tabs {
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: #000000;
    padding: 0 2.5rem;
    border: 1px solid #d9d9d9;
    margin-right: -5px;
    height: 4.6rem;
    line-height: 4.7rem;
}

.switch__tabs--active {
    border-bottom: 0;
}

.switch__tabs--active:hover {
    cursor: default;
}

.modal__login {
    display: none;
}

.modal__login--active {
    display: block;
}

.login__form--block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.3rem;
}

.login__form--block label {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.login__form--block input {
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.login__form--block input:focus {
    border: 1px solid #14aba0;
}

.login__form--block p {
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    color: #14aba0;
    opacity: 0;
    visibility: hidden;
}

.login__form--button button {
    background-color: #d9d9d9;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    color: #000000;
    font-weight: 500;
    margin: 0;
    padding: 1.2rem 1rem;
    border: 1px solid #d9d9d9;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.login__form--button button i {
    margin-left: 0.5rem;
    color: #000000;
    font-size: 1.7rem;
    transition: color 0.2s linear;
}

.login__form--button button:hover {
    background-color: #2e9891;
    color: #ffffff;
    cursor: pointer;
}

.login__form--button button:hover i {
    color: #ffffff;
}

.login__form--button button:active {
    transform: scale(0.97);
}

.login__form--button button:last-child {
    margin-left: 1.5rem;
    background-color: transparent;
    border: none;
}

.login__form--button button:last-child:hover {
    color: #2e9891;
}

.modal__register {
    display: none;
}

.modal__register--active {
    display: block;
}

.register__form--block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.3rem;
}

.register__form--block label {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.register__form--block input {
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.register__form--block input:focus {
    border: 1px solid #14aba0;
}

.register__form--block p {
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem;
    color: #14aba0;
    opacity: 0;
    visibility: hidden;
}

.register__form--button button {
    background-color: #d9d9d9;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    color: #000000;
    font-weight: 500;
    margin: 0;
    padding: 1.2rem 1rem;
    border: 1px solid #d9d9d9;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.register__form--button button i {
    margin-left: 0.5rem;
    color: #000000;
    font-size: 1.7rem;
    transition: color 0.2s linear;
}

.register__form--button button:hover {
    background-color: #2e9891;
    color: #ffffff;
    cursor: pointer;
}

.register__form--button button:hover i {
    color: #ffffff;
}

.register__form--button button:active {
    transform: scale(0.97);
}

.register__oferta {
    margin-top: 0.5rem;
}

.register__oferta p {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.3rem;
}

.register__oferta a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
    transition: color 0.2s linear;
}

.register__oferta a:hover {
    color: #2e9891;
    cursor: pointer;
}

/*==============vendor=============*/
/*slick slider*/
.slick-slider {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}
