/*google foonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");
/*==================*/
/*normalize css https://necolas.github.io/normalize.css/ */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__center {
    text-align: center;
}

.mt-6 {
    margin-top: 6rem;
}

@media (max-width: 991px) {
    .mt-6 {
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .mt-6 {
        margin-top: 2rem;
    }
}

.mt-5 {
    margin-top: 5rem;
}

.mt-4 {
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .mt-4 {
        margin-top: 2rem;
    }
}

.mt-3 {
    margin-top: 3rem;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .mt-2 {
        margin-top: 1rem;
    }
}

/*main style*/
* {
    border: 0;
}

html {
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 300;
}

p {
    margin: 0;
}

img {
    vertical-align: top;
}

input {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    font-family: inherit;
}

:focus {
    outline: none;
}

:active {
    outline: none;
}

a:focus {
    outline: none;
}

/*==============block=============*/
/*container*/
.container {
    max-width: 1340px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 1160px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 980px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 740;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 560px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

/*header*/
.header {
    width: 100%;
}

.header__baner {
    width: 100%;
    background-color: #2e9891;
    padding: 0.4rem 0;
}

.header__baner--row {
    text-align: center;
}

.header__baner--row h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.7rem;
    font-family: "Raleway", sans-serif;
}

.header__menu {
    width: 100%;
    background-color: #f7f7f7;
    padding: 0.4rem 0;
}

.header__menu--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__menu--item {
    margin-right: 1rem;
}

.nav__menu--item:last-child {
    margin-right: 0;
}

.nav__menu--link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.5rem;
    transition: color 0.1s linear;
}

.nav__menu--link:hover {
    cursor: pointer;
    color: #2e9891;
}

.nav__login {
    display: flex;
    align-items: center;
}

.nav__login--popup {
    display: block;
    text-decoration: none;
}

.nav__login--popup i {
    font-size: 1.5rem;
    color: #000000;
    transition: color 0.1s linear;
}

.nav__login--popup span {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #000000;
    transition: color 0.1s linear;
}

.nav__login--popup:hover {
    cursor: pointer;
}

.nav__login--popup:hover i {
    color: #2e9891;
}

.nav__login--popup:hover span {
    color: #2e9891;
}

.header__brand {
    width: 100%;
    padding: 0.4rem 0;
    background-color: #ffffff;
}

.header__brand--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__brand {
    width: 15%;
}

.navbar__content {
    display: flex;
    align-items: center;
}

.navbar__content--phone {
    margin-right: 3rem;
}

.navbar__content--phone i {
    font-size: 1.7rem;
    color: #2e9891;
    margin-right: 0.5rem;
}

.navbar__content--phone a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.7rem;
    transition: color 0.1s linear;
}

.navbar__content--phone a:hover {
    cursor: pointer;
    color: #2e9891;
}

.navbar__content--time {
    margin-right: 3rem;
}

.navbar__content--time P {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.7rem;
}

.navbar__content--time P i {
    font-size: 1.7rem;
    color: #2e9891;
    margin-right: 0.5rem;
}

.navbar__content--time P span {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.7rem;
}

.navbar__content--basket {
    text-decoration: none;
    display: block;
}

.navbar__content--basket i {
    font-size: 1.7rem;
    color: #2e9891;
    margin-bottom: 0.5rem;
    transition: color 0.1s linear;
}

.navbar__content--basket p {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 1.7rem;
}

.navbar__content--basket:hover {
    cursor: pointer;
}

.navbar__content--basket:hover i {
    color: #000000;
}

.header__product {
    width: 100%;
    background-color: #2e9891;
}

.product__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.product__menu--item {
    width: 12.5%;
    height: 4rem;
    transition: background-color 0.2s linear;
}

.product__menu--item:hover {
    background-color: #14aba0;
}

.product__menu--link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
}

/*burger button*/
.burger__btn {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    position: relative;
}

.burger__btn span {
    display: block;
    background-color: #000000;
    width: 1.6rem;
    height: 0.2rem;
    position: absolute;
    left: 0.1rem;
    top: 0.8rem;
    transition: background-color 0.2s linear, width 0.2s linear, transform 0.2s linear;
}

.burger__btn span:first-child {
    top: 0.4rem;
}

.burger__btn span:last-child {
    top: 1.2rem;
}

.burger__btn:hover {
    cursor: pointer;
}

.burger__btn:hover span {
    background-color: #2e9891;
}

.burger__btn--active span:first-child {
    width: 0;
}

.burger__btn--active span:nth-child(2) {
    transform: rotate(45deg);
}

.burger__btn--active span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger__btn--active span:last-child {
    width: 0;
}
